</div>
<footer>
    <!--<div class="grid-x grid-margin-x grid-container">-->
        <ul class="horizontal menu small-12  columns">
            <li><a href="#" alt="histoire">Qui sommes-nous ?</a></li>
            <li><a href="#" alt="avis">Comment ça marche ?</a></li>
            <li><a href="#" alt="contact">Nous contacter</a></li>
            <li><a href="#" alt="contact">CGU</a></li>
        </ul>
    <!--</div>-->
</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/plugins/foundation.abide.min
    .js"></script>-->
    <script src="/assets/js/script.js"></script>
</body>
</html>

