<footer>
    <div class="grid-x grid-margin-x grid-container">
    <ul class="vertical menu small-6  medium-offset-1 medium-4 columns">
        <li><a href="#" alt="histoire">Notre Histoire</a></li>
        <li><a href="#" alt="partenaires">Nos partenaires</a></li>
        <li><a href="#" alt="avis">Vous avez une idée ? Votre avis nous intéresse !</a></li>
    </ul>
    <ul class="vertical menu small-6 medium-offset-3 medium-4 columns">
        <li><a href="#" alt="contact">Contact</a></li>
        <li><a href="#" alt="mentions">Mentions légales</a></li>
        <li><a href="#" alt="cgu">Conditions Générales d'Utilisation</a></li>
    </ul>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/plugins/foundation.abide.min
    .js"></script>-->
    <script src="/assets/js/script.js"></script>
</body>
</html>

