{% extends 'form1.html.twig' %}

{% block banner %}
    {{ parent() }}
    <div class="callout success">
        <h5>{{ message }}</h5>
    </div>
{% endblock %}

{% block content %}
    <form method="post" action="/depot/form5">
        <div class="grid-container">
            <div class="medium-6 cell">
                <label>Montant demandé
                    <input type="number" min=0 step=100 name="amount">
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Date de lancement de la collecte
                    <input type="date" name="launchDate">
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Date de fin de la collecte
                    <input type="date" name="deadLine">
                </label>
            </div>

            <input type="submit" class="button success" value="je valide cette étape">
        </div>
    </form>

{% endblock %}