<!DOCTYPE html>
<html class="no-js" lang="FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Oui Project</title>
</head>

<body>
<header>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left ">
            <ul class="menu">
                <li class="menu-text">Oui Project</li>
                <li><a href="#" alt="notre mission">Notre mission</a></li>
                <li><a href="#" alt="financer son projet">Financer son projet</a></li>
                <li><a href="#" alt="soutenir un projet">Soutenir un projet</a></li>
                <li><input type="search" placeholder="Search"></li>

            </ul>
        </div>
        <div class="top-bar-right">
            <form method="post" action="/login">
            <ul class="menu">
                <li id="userName">{{ sess.name }}{{ login }}</li>
                <li id="connectInputs">

                    <input type="text" placeholder="Pseudo"  name="user">
                    <input type="password" placeholder="Mot de passe"  name="password">

                </li>

                <li><button type="button" id="button" class="button">Connexion</button></li>

            </ul>
            </form>
        </div>

    </div>

</header>