{% extends 'layout.html.twig' %}

{% block banner %}

    <section id="banner">
        <h1>1 projet = 1 emploi</h1>
        <h2>Soutenir un projet, c'est créer de l'emploi!</h2>
    </section>

{% endblock %}

{% block content %}
    {% include 'projects.html.twig' %}
{% endblock %}