{% extends 'layout.html.twig' %}
{% block content %}
    <section id="tagListRequest" class="grid-container">
    <div class="grid-x grid-margin-x">
        {% for tag in tags %}
            {% for value in tag %}
                <a href="/tag/{{ value }}" alt="{{ value }}" type="button">{{ value }}</a>
            {% endfor %}
        {% endfor %}
        <div>
            {% block sortByTag %}

            {% endblock %}
        </div>
    </div>
    </section>
    <section id="threeProjects" class="grid-container">
        <div class="grid-x grid-margin-x">

    {% for project in projects %}
            {% include 'projectAbstract.html.twig' %}
    {% endfor %}
        </div>
    </section>
{% endblock %}
