{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello</h1>
    {% for tag in tags %}
        {% for value in tag %}
            <a href="{{ value }}" alt="{{ value }}" type="button">{{ value }}</a>
        {% endfor %}
    {% endfor %}
{% endblock %}