/** Footer*/
footer {
    margin-left: 0;
    margin-right:0;
    margin-top: 60px;
    background-color: darkgrey;
}

footer > div > ul > li > a {
    color: black;
}

/** banner */
h1, h2 {
    text-align: center;
    padding: 30px;
}

#titleBanner  {
    background-color: #1d81ff;
    color: whitesmoke;
}
/** modal */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}


.modalDialog:target {
    opacity:2;
    pointer-events: auto;
}

.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 4% auto;
    padding: 20px 20px 13px 20px;
    border-radius: 10px;
    background: #acf8ff;
    background: -moz-linear-gradient(#000000, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/** modal content*/

.login-box {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
    background: #d2e2ff;
    border-radius: 0;
    overflow: hidden;
}

.login-box .or {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    min-width: 2.1em;
    padding: 0.3em;
    border-radius: 50%;
    font-size: 0.6rem;
    text-align: center;
    font-size: 1.275rem;
    background: #637fff;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

@media screen and (max-width: 39.9375em) {
    .login-box .or {
        top: 85%;
    }
}

.login-box-title {
    font-weight: 300;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

.login-box-form-section,
.login-box-social-section-inner {
    padding: 2.5rem;
}

.login-box-social-section {
    background: url("https://exed.polytechnique.edu/sites/default/files/styles/banni_re/public/bannieres/formation-financement-projet.jpg?itok=6iE1822P");
    background-size: cover;
    background-position: center;
}

.login-box-input {
    margin-bottom: 1.25rem;
    height: 2rem;
    border: 0;
    padding-left: 0;
    box-shadow: none;
    border-bottom: 1px solid #1779ba;
    font-weight: 400;
}

.login-box-input:focus {
    color: #1779ba;
    transition: 0.2s ease-in-out;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #1779ba;
}

.login-box-submit-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    text-transform: uppercase;
    margin-bottom: 0;
}

[data-whatinput='mouse'] .login-box-submit-button {
    outline: 0;
}

.login-box-submit-button:hover, .login-box-submit-button:focus {
    background-color: #126195;
    color: #fefefe;
}

.login-box-submit-button:hover,
.login-box-submit-button:focus {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

.login-box-submit-button:active {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.4);
}

.login-box-social-button-facebook {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #3b5998;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

[data-whatinput='mouse'] .login-box-social-button-facebook {
    outline: 0;
}

.login-box-social-button-facebook:hover, .login-box-social-button-facebook:focus {
    background-color: #2f477a;
    color: #fefefe;
}

.login-box-social-button-twitter {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #55acee;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

[data-whatinput='mouse'] .login-box-social-button-twitter {
    outline: 0;
}

.login-box-social-button-twitter:hover, .login-box-social-button-twitter:focus {
    background-color: #1a8fe8;
    color: #fefefe;
}

.login-box-social-button-google {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #dd4b39;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

[data-whatinput='mouse'] .login-box-social-button-google {
    outline: 0;
}

.login-box-social-button-google:hover, .login-box-social-button-google:focus {
    background-color: #be3221;
    color: #fefefe;
}

[class*="login-box-social-button-"]:hover,
[class*="login-box-social-button-"]:focus {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

.login-box-social-headline {
    display: block;
    margin-bottom: 2.5rem;
    font-size: 1.875rem;
    color: #fefefe;
    text-align: center;
}




/**project button */
#homeProjectButton {
    text-align: center;

}

#homeProjectButton >a {
    font-size: 1.4em;
    padding: 5%;
    width: 25%;
    height: 30vh;
    margin: 3%;
    border-radius: 100%;

}

/* show project */
h3{
    font-size: 1.5em;
    font-weight: bold;
}
.grid-container{
    margin-top: 2%;
}
.projectHolder{
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
#threeProjects .columns{
    padding: 1%;
    margin: 1%;
    border: 1px solid #BBB;
}
#threeProjects .thumbnail{
    margin-top: 3%;
}

