body{
    font-family: 'Lato', sans-serif;
}
#main{
    min-height: 100vh;
}
/** Header */
header{
    box-shadow: 5px 5px 5px #AAA;
}
.bold{
    font-weight: bold;
    background-color: #CCC;
    border-radius: 10px;
    padding: 5px;
}
header .top-bar input {
    max-width: 120px;
}
input .input-group-field{
    width: 50%;
}
#responsive-menu, header .menu, .top-bar ul{
    background-color: #FFF;
}
.menu a{
    color: #555;
}
header .menu > li:first-child{
    font-size:1.2em;
    font-weight: bold;
}
.menu .button{
    background-color: #BBB;
    color: #FFF;
}
.mini-field{
    max-width: 30px;
}
.input-group-field{
    align-content: center;
}
header .callout p {
    text-align: center;
}

header .callout button {
    background-color: transparent;
    color: black;
    font-weight: bold;
}
.callout.alert{
    background-color: #FF9436;
}
#userName {
    margin : 8px;
  }

.menu li{
    margin-left: 5px;
}

/** Footer*/
footer {
    margin-left: 0;
    margin-right:0;
    background-color: darkgrey;
    margin-top: 60px;
}

footer > div > ul > li > a {
    color: black;
}

h2, h3, h4, h5, p {
    font-family: 'Raleway', sans-serif;
}
/** banner */

#banner h1, #banner h2 {
    text-align: center;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    font-family: 'Finger Paint', cursive;
    font-size: 3.5em;
}
#banner h1, #banner h2{
    text-shadow: 2px 2px 2px #000;
    position: relative;
    top: 50px;
}
#banner{
    background-image: url('/assets/img/background.jpg');
    background-size: 100%;
    height: 80vh;
    color: #FFF;
    opacity: .8;
}



#homeProjectButton {
    text-align: center;

}

#homeProjectButton >a {
    font-size: 1.4em;
    padding: 5%;
    width: 25%;
    height: 30vh;
    margin: 3%;
    border-radius: 100%;

}
/* show project : tag list */
a {
    padding: 3px;
    margin: 5px;
    color: #444;
}

/* show project */
form .form-icons {
    text-align: center;
}

form .form-icons h4 {
    margin-bottom: 1rem;
}

form .form-icons .input-group-label {
    background-color: #1779BA;
    border-color: #1779BA;
}
form .form-icons .input-group-field {
    border-color: #1779BA;
}

form .form-icons .fa {
    color: white;
    width: 1rem;
}

.columns:hover{
    background-color: #DDD;
}
/** */



h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
}
form h3, .holderSpaceTitle{
    margin: 30px;
}
.grid-container{
    margin-top: 2%;
}
.projectHolder{
    border-radius: 5px;
    width: 50px;
    height: 50px;
}



#amountImg {
    border-radius: 5px;
    width: 100px;
    height: 60px;
}

#moreProject {
    text-align: center;
}



#threeProjects .columns, #projectPreparation .columns, #published .columns, #financing .columns, #closed .columns, #validationWaiting .columns  {
    padding: 1%;
    margin: 1%;
    border: 1px solid #BBB;
}
.thumbnail{
   margin-left: -3%;
   margin-top: 3%;
}


#commentListRequest .columns {
    font-size: 12px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border: 1px solid #000000;

}
#amountRequest .columns {
    font-size: 12px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border: 1px solid #BBB;

}
#pagination {
    text-align: center;
}

/** forms */
#deposit{
    margin: 15px;
    color: #444;
}
[type="text"]{
    width: 50%;
}
[type="tel"], [type="number"], [type="date"]{
    width: 25%;
}
h5{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}
.button{
    border-radius: 5px;
}
.callout.success, .button.success{
    background-color: #A1D490;
}
.button:hover{
    box-shadow: 2px 2px 2px #444;
}
.button.success:hover{
    background-color: #A1D490;
}

#deposit-button{
    text-align: center;
    margin-top: 40px;
}
#deposit > p{
    margin: 30px;
}
#tutos{
    text-align: center;
    margin-top: 40px;
}
#tutos img{
    height: 60px;
}
#tutos img:hover{
    position: relative;
    bottom: 20px;
}
#tutos a{
    margin: 30px;
}

/** span */
.custom-2 {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 25px;
}

.custom-2 span {
    display: inline-block;
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.custom-2 span:before, .custom-2 span:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 9999px;
    top: 50%;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #1779ba;
    margin-top: -2px;
}

.custom-2 span:before {
    right: 100%;
}

.custom-2 span:after {
    left: 100%;
}
/** end span */

#deposit-button{
    text-align: center;
    margin-top: 100px;
}

/** section Oneproject */
#oneProject {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}
#oneProject {
    text-align: center;
}
#oneProject .medium-1 {
    width: 5px;
}


#oneProject .cible {
    position: relative;
    bottom: 55px;
    font-weight: bold;
    font-size: 1.4em;
}
#oneProject .resize {
    max-width:350px;
    max-height: 350px;
    height: auto;

}
#oneProject .left {
    text-align: left;

}
#oneProject .grid-x {
width: 105%;
}
#oneProject .cell {
    margin-left: 15px;

}
#oneProject .cadre {
    background-color: #1779ba;
    font-size: 1.2em;
    color:white;
}

#oneProject .grid-container {
border: 1px solid darkgrey;

}





#oneProject h2 {
    text-align: center;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    font-family: 'Finger Paint', cursive;
    font-size: 3.5em;
}


/* sidebar */
#oneProject aside{
    position:fixed;
    background-color: black;
    opacity : 0.7;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    top:0;
    right:10%;
    z-index:20;
    margin-top: 250px;
    margin-left: 0px;
    text-align: center;
}

#oneProject aside li{
    list-style: none;
    width: 70px;
    padding-top: 20px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;

}
.purple {
    background-color: purple;

}
/* sidebar */


/* Project Holder Space */

.holderSpaceTitle {
    padding: 12vh;
    background-size: cover;
    background-attachment: fixed;
    color: blue;
    text-shadow: 1px 1px black;
    margin : 0;
}

.holderSpaceTitle > h1 {
    font-family: 'Finger Paint', cursive;
    color: #FFFFFF;
}


section> div > div  {
    background-color: #FFFFFF;
}

.holderSpaceTitle ~ .grid-container {
    background-image: url("/assets/img/seigaiha.png");
    padding: 5%;
    margin-top: 0px;
    box-shadow: 1px 1px 5px #555555;
}
