/** Header */
.bold{
    font-weight: bold;
    background-color: #CCC;
    border-radius: 10px;
    padding: 5px;
}
header .top-bar input {
    max-width: 120px;
}
.menu > li:first-child{
    font-size:1.2em;
    font-weight: bold;
}

header .callout p {
    text-align: center;
}

header .callout button {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

#userName {
    margin : 8px;
  }

/** Footer*/
footer {
    margin-left: 0;
    margin-right:0;
    margin-top: 60px;
    background-color: darkgrey;
}

footer > div > ul > li > a {
    color: black;
}

/** banner */
h1, h2 {
    text-align: center;
    padding: 30px;
}

#titleBanner  {
    background-color: #1d81ff;
    color: whitesmoke;
}

#homeProjectButton {
    text-align: center;

}

#homeProjectButton >a {
    font-size: 1.4em;
    padding: 5%;
    width: 25%;
    height: 30vh;
    margin: 3%;
    border-radius: 100%;

}
/** modal account*/

/* show project : tag list */
a {
    padding: 3px;
    margin: 5px;
}

/* show project */
form .form-icons {
    text-align: center;
}

form .form-icons h4 {
    margin-bottom: 1rem;
}

form .form-icons .input-group-label {
    background-color: #1779ba;
    border-color: #1779ba;
}

form .form-icons .input-group-field {
    border-color: #1779ba;
}

form .form-icons .fa {
    color: white;
    width: 1rem;
}

/** */
h3{
    font-size: 1.5em;
    font-weight: bold;
}
.grid-container{
    margin-top: 2%;
}
.projectHolder{
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
#threeProjects .columns, #projectPreparation .columns, #published .columns, #financing .columns, #closed .columns {
    padding: 1%;
    margin: 1%;
    border: 1px solid #BBB;
}
#threeProjects .thumbnail{
    margin-top: 3%;
}


#commentListRequest .columns {
    font-size: 12px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border: 1px solid #000000;

}
#amountRequest .columns {
    font-size: 12px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border: 1px solid #BBB;

}
#pagination {
    text-align: center;
}



/** span */
.custom-2 {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 25px;
}

.custom-2 span {
    display: inline-block;
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.custom-2 span:before, .custom-2 span:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 9999px;
    top: 50%;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #1779ba;
    margin-top: -2px;
}

.custom-2 span:before {
    right: 100%;
}

.custom-2 span:after {
    left: 100%;
}



/** end span */


#deposit-button{
    text-align: center;
    margin-top: 100px;
}


.pagination-pointed .pagination-pointed-button, .pagination-pointed .current, .pagination-pointed .pagination-previous {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #2c3840;
    color: #fff;
    outline: 0;
    text-decoration: none;
    transition: all 0.2s linear;
}

.pagination-pointed .pagination-pointed-button:hover, .pagination-pointed .current:hover, .pagination-pointed .pagination-previous:hover {
    background-color: #41525e;
}

.pagination-pointed .current {
    background: dodgerblue;
}

.pagination-pointed .current:hover {
    background-color: #0077ea;
}

.pagination-pointed .pagination-next a {
    border-radius: 4px 0 0 4px;
    margin-right: 18px;
}

.pagination-pointed .pagination-next a:hover::after {
    border-left: 17px solid #41525e;
}

.pagination-pointed .pagination-next a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #2c3840;
    transition: all 0.2s linear;
}

.pagination-pointed .pagination-previous {
    border-radius: 0 4px 4px 0;
    margin-left: 18px;
}

.pagination-pointed .pagination-previous:hover::after {
    border-right: 17px solid #41525e;
}

.pagination-pointed .pagination-previous::before {
    content: "";
}

.pagination-pointed .pagination-previous::after {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    width: 0;
    height: 0;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-right: 17px solid #b2bdba;
    transition: all 0.2s linear;
}


